@import "_includes/variables"

//-GENERAL <---------------------
body
	margin: 0
	padding: 0
	color: #000
	font-family: 'Montserrat', sans-serif
	overflow-x: hidden
a
	text-transform: none
	text-decoration: none
	cursor: pointer
	&:visited
		color: #000
h1, h2, h3, h4, h5, h6, p
	text-align: center
h1
	font-size: 60px
	margin: 20px 0
	@media screen and (max-width:767px)
		font-size: 50px
h2
	font-size: 50px
	margin: 20px 0
	@media screen and (max-width:767px)
		font-size: 40px
h3
	font-size: 40px
	margin: 15px 0
	@media screen and (max-width:767px)
		font-size: 30px
h4
	font-size: 30px
	margin: 10px 0
h5
	font-size: 25px
	margin: 10px 0
p
	font-size: 16px
	line-height: 1.5
img
	max-width: 100%
	width: 100%
	height: auto
.uppercase
	text-transform: uppercase
.bold
	font-weight: 600
.onlymob
	display: none
.nomob
	display: block
.blue
	color: $blue
.white
	color: #fff
.black
	color: #000
.button
	display: block
	border: none
	padding: 15px 50px
	text-align: center
	text-decoration: none
	font-size: 16px
	text-transform: uppercase
	border-radius: 2px
	margin: 0 auto
	font-weight: 600
	&.button--blue
		background: $blue
		color: #fff
	&.button--white
		background: #fff
		color: $blue
		border: 2px solid $blue
.dacar-row
	padding: 2%
.container-fluid.sectionbg
	padding: 0
	position: relative
	display: flex
	justify-content: center
	align-items: center
	margin-bottom: 3%
	@media screen and (max-width:767px)
		margin-bottom: 5%
	img
		min-width: 1920px
		height: auto
	.title
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 0
		margin: 0 auto
		width: 100%
		height: 100%
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		background: rgba(255,255,255,0.5)
		.dacarSpacer
			.line
				background: $blue
@media screen and (max-width: 768px)
	.onlymob
		display: block
	.nomob
		display: none

#privacyContainer, #cookieContainer
	h2,h3,h4,p
		text-align: left
	h2,h3,h4
		color: $blue



@import "_includes/index"
@import "_includes/contatti"
@import "_includes/gallery"
@import "_includes/veicoli"
@import "_includes/veicolo"
@import "_includes/navbar"
@import "_includes/footer"
@import "_includes/dacarSpacer"