.sectionbg {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.contacts {
  margin: 5% auto; }
  .contacts .borderDivider {
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee; }

input, textarea {
  display: block;
  min-width: 75%;
  max-width: 75%;
  margin: 0 auto 15px;
  border: 1px solid #ccc;
  padding: 5px;
  font-family: 'Montserrat', sans-serif; }
  input:focus, textarea:focus {
    border: 2px solid #014dbb; }
  @media screen and (max-width: 991px) {
    input, textarea {
      min-width: 100%;
      max-width: 100%; } }

input {
  min-height: 50px; }

textarea {
  min-height: 200px; }

#send {
  width: 50%; }

#maps {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  #maps img {
    min-width: 1920px;
    height: auto; }
