.dacarSpacer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; }
  .dacarSpacer .line {
    width: 100px;
    height: 2px;
    background: #ccc; }
  .dacarSpacer .steeringWheel {
    width: 30px;
    height: 30px;
    margin: 0 15px; }
    .dacarSpacer .steeringWheel svg {
      width: 100%;
      height: 100%;
      fill: #014dbb; }
