#instagramFeed {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 2%; }
  #instagramFeed .image {
    padding: 5px;
    width: 33%; }
    @media screen and (max-width: 1024px) {
      #instagramFeed .image {
        width: 50%; } }
    @media screen and (max-width: 550px) {
      #instagramFeed .image {
        width: 100%; } }
    #instagramFeed .image img {
      height: 250px;
      object-fit: cover; }
      @media screen and (max-width: 550px) {
        #instagramFeed .image img {
          width: 100%;
          height: auto; } }
  #instagramFeed .loading-dacar img {
    width: auto;
    height: auto; }

#overlayImages {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; }
  #overlayImages .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 999; }
  #overlayImages .swiper-container .swiper-button-next, #overlayImages .swiper-container .swiper-button-prev {
    filter: grayscale(100%) brightness(100);
    outline: none; }
    @media screen and (max-width: 550px) {
      #overlayImages .swiper-container .swiper-button-next, #overlayImages .swiper-container .swiper-button-prev {
        transform: translateY(550%); } }
  #overlayImages .swiper-container .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh !important; }
    #overlayImages .swiper-container .swiper-slide img {
      max-width: unset !important;
      width: 50% !important;
      height: auto !important; }
      @media screen and (max-width: 550px) {
        #overlayImages .swiper-container .swiper-slide img {
          width: 95% !important; } }
