#heroSlider, .lastCar {
  min-width: 100%;
  max-width: 100%; }
  #heroSlider .swiper-wrapper, .lastCar .swiper-wrapper {
    min-height: 100% !important; }
  #heroSlider .swiper-slide img, .lastCar .swiper-slide img {
    min-width: 100%; }
  #heroSlider .swiper-button-next, #heroSlider .swiper-button-prev, .lastCar .swiper-button-next, .lastCar .swiper-button-prev {
    filter: grayscale(100%) brightness(100);
    outline: none; }

#last3Auto #homepageCars {
  display: flex;
  justify-content: center;
  align-items: center; }
  #last3Auto #homepageCars .carContainer {
    width: 33.3%;
    max-width: 33.3%;
    padding: 0 15px; }
    @media screen and (max-width: 767px) {
      #last3Auto #homepageCars .carContainer {
        width: 100%;
        max-width: 100%; } }
    #last3Auto #homepageCars .carContainer .infoAuto .cont {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #last3Auto #homepageCars .carContainer .infoAuto .cont .info {
        width: 50%;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid #eee;
        margin-bottom: 5px; }
        #last3Auto #homepageCars .carContainer .infoAuto .cont .info div:first-child {
          width: 30%;
          height: 100%;
          background: #eee;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #eee;
          border-right: 1px solid #eee; }
          #last3Auto #homepageCars .carContainer .infoAuto .cont .info div:first-child i {
            font-size: 18px; }
        #last3Auto #homepageCars .carContainer .infoAuto .cont .info div:nth-child(2) {
          width: 70%; }
          #last3Auto #homepageCars .carContainer .infoAuto .cont .info div:nth-child(2) p {
            text-align: center; }
    #last3Auto #homepageCars .carContainer .infoAuto h3 {
      margin: 20px 0; }
    @media screen and (max-width: 767px) {
      #last3Auto #homepageCars .carContainer .infoAuto {
        margin-bottom: 10%; } }

#last3Auto .button.button--white {
  margin: 20px auto 0; }

#servizi .flexCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  #servizi .flexCol div.cont {
    background: #eee;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    margin: 20% auto 15%; }
    @media screen and (max-width: 800px) {
      #servizi .flexCol div.cont {
        width: 150px;
        height: 150px; } }
    #servizi .flexCol div.cont i {
      font-size: 120px;
      transform: rotate(315deg); }
      @media screen and (max-width: 800px) {
        #servizi .flexCol div.cont i {
          font-size: 80px; } }

#gallery .images {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }
  #gallery .images .image {
    width: 24%;
    height: 250px;
    padding: 5px; }
    @media screen and (max-width: 1024px) {
      #gallery .images .image {
        width: 49%; } }
    @media screen and (max-width: 550px) {
      #gallery .images .image {
        width: 100%; } }
    #gallery .images .image img {
      height: 100%;
      width: auto;
      object-fit: cover; }
