#navbar {
  height: 100px;
  border-bottom: 1px solid #ccc;
  z-index: 99;
  position: relative; }
  #navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%; }
    #navbar .container .logo {
      height: 100%;
      display: flex;
      align-items: center;
      width: 20%; }
      #navbar .container .logo img {
        display: block;
        width: 85%;
        height: auto; }
    #navbar .container .link {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 80%;
      background: #fff; }
      #navbar .container .link a {
        color: #014dbb;
        font-weight: bold;
        height: 100%;
        width: 18%; }
        #navbar .container .link a div {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center; }
          #navbar .container .link a div:hover {
            color: #fff;
            background: #014dbb;
            transition: all 0.2s linear; }
          #navbar .container .link a div p {
            margin: 0 auto; }
  #navbar.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    background: #fff; }

@media screen and (max-width: 768px) {
  #navbar .container {
    display: block; }
    #navbar .container .logo {
      justify-content: unset;
      width: 100%; }
      #navbar .container .logo a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center; }
        #navbar .container .logo a img {
          height: 70%;
          width: auto; }
    #navbar .container .link {
      width: 100%;
      height: auto;
      flex-direction: column;
      display: block;
      height: 0;
      overflow-y: hidden;
      position: relative; }
      #navbar .container .link a {
        width: 100%; }
        #navbar .container .link a div {
          padding: 5% 0; }
      #navbar .container .link.open {
        border-top: 2px solid #014dbb;
        height: auto;
        transition-property: all;
        transition-duration: .6s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }
        #navbar .container .link.open a div {
          border-bottom: 1px solid #eee; }
    #navbar .container .menu {
      display: inline-block;
      cursor: pointer; }
      #navbar .container .menu .bar1, #navbar .container .menu .bar2, #navbar .container .menu .bar3 {
        width: 35px;
        height: 5px;
        background-color: #014dbb;
        margin: 6px 0;
        transition: 0.4s; }
      #navbar .container .menu.open .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px); }
      #navbar .container .menu.open .bar2 {
        opacity: 0; }
      #navbar .container .menu.open .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px); } }
