#footer
    .container
        .row.dacar-row
            .col-md-3.col-sm-12.columns
                h5.blue.bold NAVIGAZIONE
                a(href="/")
                    p.uppercase.bold HOMEPAGE
                a(href="/veicoli.html")
                    p.uppercase.bold VEICOLI
                a(href="/gallery.html")
                    p.uppercase.bold GALLERY
                a(href="/contatti.html")
                    p.uppercase.bold CONTATTI
                a(href="/privacy.html")
                    p.uppercase.bold privacy policy
                a(href="/cookie.html")
                    p.uppercase.bold cookie policy
            .col-md-3.col-sm-12.columns
                h5.blue.bold ORARI
                p.bold.uppercase.orario 
                    span.blue
                        i.fas.fa-clock
                    | Lun-ven 
                    br
                    |9:00-12:30
                    br
                    |14:30-19:00
                p.bold.uppercase.orario
                    span.blue
                        i.fas.fa-clock
                    | Sabato
                    br
                    |9:00-12:30
            .col-md-3.col-sm-12.columns
                h5.blue.bold CONTATTI
                p.bold.indirizzo
                    span.blue
                        i.fas.fa-map-marker-alt
                    span Via Giosuè Carducci 221/55, Sesto San Giovanni(MI)
                p.bold.telefono
                    span.blue
                        i.fas.fa-user
                    span Davide Riolfo
                        br
                        |+39 3285442547
                        br
                        |davide@dacarmilano.it
                p.bold.telefono
                    span.blue
                        i.fas.fa-user
                    span Gianluca Guarnaschelli
                        br
                        |+39 3479450069
                        br
                        |gianluca@dacarmilano.it
                p.bold.telefono
                    span.blue
                        i.fas.fa-user
                    span Croci Giudice 
                        br
                        |(Responsabile acquisti)
                        br
                        |+39 3779999724
            .col-md-3.col-sm-12.columns
                h5.blue.bold SOCIAL
                a(href="https://www.facebook.com/dacarmilano/", target="_blank")
                    h2.blue
                        i.fab.fa-facebook-square
                a(href="https://www.instagram.com/dacarmilano/", target="_blank")
                    h2.blue
                        i.fab.fa-instagram
    
    .row.dacar-row(style="background:#014dbb;padding:0;")
            .col-sm-12.columns
                .container(style="padding: 10px 2% !important;")
                    p.white(style="margin:0;font-size:10px;text-align:left;") DACAR SRL - Sede legale: Via Trieste 42, 20064 Gorgonzola (MI) – P.IVA: 11511580968 – Numero REA MI-2608339 – Capitale Sociale: 10.000€
                        
