meta(charset="UTF-8")
meta(name="description", content="Siamo un'azienda giovane e dinamica attenta alle Vostre necessità e in linea con un mercato in continua evoluzione.")
meta(name="keywords", content="Concessionario, Sesto San Giovaani, Auto Usate, Macchina")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title Dacar | !{title}
link(rel="stylesheet", href="assets/css/style.css")
//- link(rel="stylesheet", href="assets/css/bootstrap.css")
link(rel="stylesheet", href="assets/css/bootstrap-grid.css")
link(rel="stylesheet", href="assets/css/swiper.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.min.css")
//- FAVICON
link(rel="icon", type="image/png", href="assets/images/favicon.png")
//- FONT
link(href="https://fonts.googleapis.com/css?family=Montserrat:400,600", rel="stylesheet")
link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.4.2/css/all.css", integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns", crossorigin="anonymous")
//- COOKIE SOLUTION
script(id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="db5fea06-c187-4d6b-a2fb-b11517effb48" data-blockingmode="auto" type="text/javascript")