//- Contains Script Links
script(type="text/javascript" src="assets/js/jquery.min.js")
script(type="text/javascript" src="assets/js/bootstrap.min.js")
script(type="text/javascript" src="assets/js/swiper.min.js")
script(type="text/javascript" src="assets/js/lozad.js")
script(type="text/javascript" src="assets/js/script.js")
script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js")
script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.min.js")

//- <!-- Global site tag (gtag.js) - Google Analytics -->
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-149685336-1")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-149685336-1');