#navbar
    .container
        div.logo
            a(href="/")
                img(src="assets/images/logo.png")
            div.menu
                .bar1
                .bar2
                .bar3
        div.link
            a(href="/")
                div
                    p HOMEPAGE
            a(href="veicoli.html")
                div
                    p VEICOLI
            a(href="gallery.html")
                div
                    p GALLERY
            a(href="contatti.html")
                div
                    p CONTATTI