doctype html
html
	head
		include _partials/head.pug

	body
		include _partials/navbar.pug

		.container-fluid.sectionbg
			img(src="assets/images/section_bg.jpg", alt="")
			.title
				h1.bold CONTATTI
				//- include _partials/dacarSpacer
		.container
			.row.contacts
				.col-sm-12.col-md-4.columns
					h2.blue
						i.fas.fa-user
					p.bold.uppercase.blue Davide Riolfo
					p.bold +39 3285442547<br>davide@dacarmilano.it
					p.bold.uppercase.blue Gianluca Guarnaschelli
					p.bold +39 3479450069<br>gianluca@dacarmilano.it
					p.bold.uppercase.blue Croci Giudice
					p.bold (Responsabile acquisti)<br>+39 3779999724
				.col-sm-12.col-md-4.columns.borderDivider
					h2.blue
						i.fas.fa-map-marker-alt
					
					P.bold.blue SEDE OPERATIVA
					p.bold Via Giosuè Carducci 221/55,
						br 
						|Sesto San Giovanni (MI)

					P.bold.blue SEDE LEGALE
					p.bold Via Trieste 42,
						br 
						|20064 Gorgonzola (MI)				
				.col-sm-12.col-md-4.columns
					h2.blue
						i.fas.fa-clock
					p.bold.uppercase.blue LUN-VEN
					p.bold 9:00-12:30<br>14:30-19:00
					p.bold.uppercase.blue SABATO
					p.bold 9:00-12:30
		.container-fluid#maps
			a(href="https://www.google.com/maps/place/Dacar+Srl/@45.5309437,9.2200363,17z/data=!3m2!4b1!5s0x4786c758a2b6722f:0xf919c3f41b81deb7!4m5!3m4!1s0x4786b9e11a44b7c9:0x71d6eda4a47bbada!8m2!3d45.53094!4d9.222225" target="_blank")
				img(src="assets/images/maps.jpg", alt="")
		.container
			.row
				.col-sm-12
					h2 INVIACI UNA EMAIL
					p Il nostro team ti risponderà al più presto
					include _partials/dacarSpacer.pug
				.col-sm-12
					.message
						p.blue.uppercase.bold
					.form-group
						input#sendemail-nome(type='text', placeholder='NOME')
					.form-group
						input#sendemail-email(type='email', placeholder='EMAIL')
					.form-group
						textarea#sendemail-testo(type='text', placeholder='MESSAGGIO')
					a.button.button--blue#send INVIA

		
		include _partials/footer.pug
		include _partials/include.pug
		script.
			$(document).ready(function(){
				$("#send").click(function(){
					var nome = $("#sendemail-nome").val();
					var email = $("#sendemail-email").val();
					var testo = $("#sendemail-testo").val();
					var action = "fromContatti";
					$.ajax({
						type: "POST",
						url: "/sendto.php",
						data: {nome:nome,email:email,testo:testo,action:action},
						success: function( data ) {
							if(data=='true')    {
								$(".form-group").hide()
								$("#send").hide()
								$(".message p").text("LA TUA EMAIL È STATA INVIATA CORRETTAMENTE.")
							}
							else if (data == 'campi')
								$(".message p").text("NON HAI COMPILATO TUTTI I CAMPI.")
							else {
								$(".message p").text("LA TUA EMAIL NON È STATA INVIATA. RIPROVA PIÙ TARDI.")
							}
						}
					});
				});
			});
