doctype html
html
	head
		include _partials/head.pug

	body
		include _partials/navbar.pug

		.container
				.row#cookieContainer
					.col-sm-12

						script(id="CookieDeclaration" src="https://consent.cookiebot.com/db5fea06-c187-4d6b-a2fb-b11517effb48/cd.js" type="text/javascript" async)
		
		include _partials/footer.pug
		include _partials/include.pug