doctype html
html
	head
		include _partials/head.pug

	body
		include _partials/navbar.pug

		.container-fluid.sectionbg
			img(src="assets/images/section_bg.jpg", alt="")
			.title
				h1.bold GALLERY
				//- include _partials/dacarSpacer
		.container
			.row
				.col-sm-12.columns#imagesGallery
					.loading-dacar
						img(src="assets/images/loading-dacar.gif", alt="")
						p.uppercase.blue.bold CARICAMENTO
					#instagramFeed
					a.button.button--blue.loadmore(data-api="" style="display:none;max-width:350px;")
						span CARICA ALTRE IMMAGINI

		
		include _partials/footer.pug
		include _partials/include.pug
		script.
			$(document).ready(function(){
				//- function loadMore(url) {
					
				//- }
				$(".loadmore").on("click", function() {
					var url = $(".loadmore").data("api")
					$.ajax({
						type: "GET",
						url: url,
						success: function(data) {
							data.data.forEach((item, index) => {
								$("#instagramFeed").append("<div class='image'><a href='"+item.media_url+"' data-lity><img src='"+item.media_url+"'/></a></div>")
							})
							$(".loadmore").data("api",data.paging.next)
						}
					});
				})
				$.ajax({
					type: "GET",
					url: "https://graph.instagram.com/v14.0/4738416252953100/media?access_token=IGQVJWQ0JkZAlRGQW5WZA3d1dFFpZAHBPdlFvdzNTR3BDMXFZAdXhhN1RveDdCckFnRk42bXJSNDZAzbHNra1pqTjVQc0lwQUVGeU1qU002YVEyOUw1T1ZALMWd1aWdmOV85NFMxT1N3NVF1dUhVX1p0d3MxOQZDZD&fields=media_url",
					success: function(response) {
						response.data.forEach((item, index) => {
							$("#instagramFeed").append("<div class='image'><a href='"+item.media_url+"' data-lity><img src='"+item.media_url+"'/></a></div>")
						})
						$(".loadmore").data("api",response.paging.next)
						
					}, complete: function() {
						$(".loading-dacar").remove();
						$(".loadmore").show();
					}
				});

				function setImageHeight() {

					var maxHeight = 0;

					$("#instagramFeed .image").each(function () {
						if ($(this).height() > maxHeight) { maxHeight = $(this).height(); }
					});

					$("#instagramFeed .image").height(maxHeight);
				}
				
			});
