doctype html
html
	head
		include _partials/head.pug

	body
		include _partials/navbar.pug

		//- #heroBanner
		//- 	.swiper-container#heroSlider
		//- 		.swiper-button-prev
		//- 		.swiper-button-next
		//- 		.swiper-wrapper
		//- 			.swiper-slide
		//- 				img(src="https://via.placeholder.com/1920x675/000&text=slide1")
		//- 			.swiper-slide
		//- 				img(src="https://via.placeholder.com/1920x675/000&text=slide2")
		//- 			.swiper-slide
		//- 				img(src="https://via.placeholder.com/1920x675/000&text=slide3")
		//- 		.swiper-pagination
		
		#last3Auto.dacar-row
			.container
				.row
					.col-sm-12
						h2.black.uppercase.bold LE NOSTRE AUTO
						include _partials/dacarSpacer.pug
				.row#homepageCars
					
				.row
					.col-md-4.offset-md-4.col-sm-12

						.loading-dacar
							img(src="assets/images/loading-dacar.gif", alt="")
							p.uppercase.blue.bold CARICAMENTO
							
						a.button.button--white(href="/veicoli.html")
							span
								i.fas.fa-car
							span &nbsp;&nbsp;&nbsp;
							span TUTTE LE AUTO

		#aboutUs.dacar-row
			.container
				.row
					.col-sm-12
						h2.black.uppercase.bold CHI SIAMO
						include _partials/dacarSpacer.pug
				.row
					.col-sm-12
						p Siamo un'azienda giovane e dinamica attenta alle Vostre necessità
							br.nomob
							|&nbsp;e in linea con un mercato in continua evoluzione. 
							br.nomob

						p Il cliente è la nostra priorità: Vi metteremo a Vostro agio, sicuri di garantirVi un’esperienza piacevole
							br.nomob
							|&nbsp;e un prodotto che rispecchi le Vostre esigenze.

						p.bold.blue Il team Dacar vi aspetta
		#servizi.dacar-row
			.container
				.row
					.col-sm-12
						h2.black.uppercase.bold SERVIZI
						include _partials/dacarSpacer.pug	
				.row
					.col-md-4.col-sm-12.flexCol
						div.cont
							i.fas.fa-car.blue
						div
							h5.bold PERMUTA
							p Ritiriamo le Vostre vetture offrendo le migliori valutazioni di mercato e ci occupiamo interamente della documentazione necessaria.
					.col-md-4.col-sm-12.flexCol
						div.cont
							i.fas.fa-handshake.blue
						div
							h5.bold FINANZIAMENTO
							p Offriamo, direttamente in loco, la possibilità di dilazionare il pagamento costruendo insieme a Voi la miglior proposta secondo le Vostre esigenze.
					.col-md-4.col-sm-12.flexCol
						div.cont
							i.fas.fa-clock.blue
						div
							h5.bold FLESSIBILITÀ
							p Rendiamo la Vostra visita il più agevole possibile offrendo orari flessibili e mettendo a disposizione servizi di trasporto da stazioni e aeroporti per venire incontro alle vostre esigenze
		#gallery.dacar-row
			.container
				.row
					.col-sm-12
						h2.black.uppercase.bold GALLERY
						include _partials/dacarSpacer.pug	
				.row
					.col-sm-12.images
						//- .image
						//- 	img.lozad(data-src="assets/images/consegne/dacar_consegne_29.jpg", alt="")
						//- .image
						//- 	img.lozad(data-src="assets/images/consegne/dacar_consegne_14.jpg", alt="")
						//- .image
						//- 	img.lozad(data-src="assets/images/consegne/dacar_consegne_22.jpg", alt="")
						//- .image
						//- 	img.lozad(data-src="assets/images/consegne/dacar_consegne_23.jpg", alt="")
						//- .image
						//- 	img.lozad(data-src="assets/images/consegne/dacar_consegne_27.jpg", alt="")
						//- .image
						//- 	img.lozad(data-src="assets/images/consegne/dacar_consegne_26.jpg", alt="")
						//- .image
						//- 	img.lozad(data-src="assets/images/consegne/dacar_consegne_20.jpg", alt="")
						//- .image
						//- 	img.lozad(data-src="assets/images/consegne/dacar_consegne_13.jpg", alt="")

		#test
		
		include _partials/footer.pug
		include _partials/include.pug
		script.
			$(document).ready(function(){
				getCarDetail(true)
				$.ajax({
					type: "GET",
					url: "https://graph.instagram.com/v14.0/4738416252953100/media?access_token=IGQVJWQ0JkZAlRGQW5WZA3d1dFFpZAHBPdlFvdzNTR3BDMXFZAdXhhN1RveDdCckFnRk42bXJSNDZAzbHNra1pqTjVQc0lwQUVGeU1qU002YVEyOUw1T1ZALMWd1aWdmOV85NFMxT1N3NVF1dUhVX1p0d3MxOQZDZD&fields=media_url",
					success: function(response) {
						response.data.forEach((item, index) => {
							if (index < 8) {
								$(".images").append("<div class='image'><a href='"+item.media_url+"' data-lity><img src='"+item.media_url+"'/></a></div>")
							}
						})
					}
				});
			});
