doctype html
html
	head
		include _partials/head.pug

	body#veicoli
		include _partials/navbar.pug

		.container
			.row.infoCar
				.col-md-12.col-lg-6
					div(class='swiper-container' id="carSlider")
						.swiper-button-prev
						.swiper-button-next
						.swiper-wrapper
					div(class='swiper-container' id="carSliderBullets")
						.swiper-button-prev
							div
								img(src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E")
						.swiper-button-next
							div
								img(src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E")
						.swiper-wrapper

				.col-md-12.col-lg-6
					h5.bold.uppercase#nomeVeicolo
					h2.blue.bold#prezzo
					.dataCont
						.infoCar
							div
								i(class='fas fa-road')
							div
								p#kmPercorsi
						.infoCar
							div
								i(class='fas fa-tachometer-alt')
							div
								p#power
						.infoCar
							div
								i(class='fas fa-gas-pump')
							div
								p#fuelType
						.infoCar
							div
								i(class='fas fa-calendar-alt')
							div
								p#dataImmatricolazione 
		
		.container
			.row
				.col-sm-12
					.carTitle
						p.uppercase.white.bold DESCRIZIONE
					.carContent
						p#descrizione
						
		.container
			.row
				.col-sm-12
					.carTitle
						p.uppercase.white.bold EQUIPAGGIAMENTO
					.carContent
						#equipaggiamento
		.container
			.row
				.col-sm-12
					h2 RICHIEDI INFORMAZIONI
					p Il nostro team ti risponderà al più presto
					include _partials/dacarSpacer.pug
				.col-sm-12
					.message
						p.blue.uppercase.bold
					.form-group
						input#sendemail-nome(type='text', placeholder='NOME')
					.form-group
						input#sendemail-email(type='email', placeholder='EMAIL')
					.form-group
						textarea#sendemail-testo(type='text', placeholder='MESSAGGIO')
					a.button.button--blue#send INVIA
				

		
		
		include _partials/footer.pug
		include _partials/include.pug
		script.
			$(document).ready(function(){
				var url_string = location.href
				var url = new URL(url_string)
				var vid, idVeicolo, carSlider, carSliderBullets
				var carName, carImage
				//- var observer_swiper = lozad('.lozad-swiper');
				//CHECK URL PARAMETER EXIST
				if(url.searchParams.get('id-veicolo'))
					idVeicolo = url.searchParams.get("id-veicolo")
				else
					window.location.replace("/");

				const observer_swiper_veicolo = lozad('.lozad-swiper');
				//- observer_swiper.observe();
				var array_fuel = { "references": [{ "id": "2", "name": "Elettrica/Benzina", "referenceType": "FuelCategory", "vehicleType": ["B", "C", "N", "X"] }, { "id": "3", "name": "Elettrica/Diesel", "referenceType": "FuelCategory", "vehicleType": ["C", "N", "X"] }, { "id": "B", "name": "Benzina", "referenceType": "FuelCategory", "vehicleType": ["B", "C", "N", "X"] }, { "id": "C", "name": "Metano", "referenceType": "FuelCategory", "vehicleType": ["C", "N", "X"] }, { "id": "D", "name": "Diesel", "referenceType": "FuelCategory", "vehicleType": ["B", "C", "N", "X"] }, { "id": "E", "name": "Elettrica", "referenceType": "FuelCategory", "vehicleType": ["B", "C", "N", "X"] }, { "id": "H", "name": "Idrogeno", "referenceType": "FuelCategory", "vehicleType": ["C", "N", "X"] }, { "id": "L", "name": "GPL", "referenceType": "FuelCategory", "vehicleType": ["B", "C", "N", "X"] }, { "id": "M", "name": "Etanolo", "referenceType": "FuelCategory", "vehicleType": ["C", "N", "X"] }, { "id": "O", "name": "Altro", "referenceType": "FuelCategory", "vehicleType": ["B", "C", "N", "X"] }, { "id": "T", "name": "Benzina 2T", "referenceType": "FuelCategory", "vehicleType": ["B"] }] }
				var array_equipment = {"references":[{"id":"1","name":"ABS","referenceType":"Equipment","vehicleType":["X","N","L","B","C"]},{"id":"10","name":"Autoradio","referenceType":"Equipment","vehicleType":["B","C","N","X"]},{"id":"103","name":"Parabrezza","referenceType":"Equipment","vehicleType":["B"]},{"id":"104","name":"Cupolino","referenceType":"Equipment","vehicleType":["B"]},{"id":"105","name":"Bauletto/Topcase","referenceType":"Equipment","vehicleType":["B"]},{"id":"106","name":"Manopole riscaldate","referenceType":"Equipment","vehicleType":["B"]},{"id":"107","name":"Paramotore","referenceType":"Equipment","vehicleType":["B"]},{"id":"108","name":"Avviamento elettrico","referenceType":"Equipment","vehicleType":["B"]},{"id":"109","name":"Avviamento a pedale","referenceType":"Equipment","vehicleType":["B"]},{"id":"112","name":"Pacchetto sportivo","referenceType":"Equipment","vehicleType":["C"]},{"id":"113","name":"Start/Stop Automatico","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"114","name":"Volante multifunzione","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"115","name":"Luci diurne","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"116","name":"Sospensioni sportive","referenceType":"Equipment","vehicleType":["B","C"]},{"id":"117","name":"Sedili sportivi","referenceType":"Equipment","vehicleType":["C"]},{"id":"118","name":"Fari direzionali","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"119","name":"Ski bag","referenceType":"Equipment","vehicleType":["C"]},{"id":"12","name":"Servosterzo","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"121","name":"Specchietti laterali elettrici","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"122","name":"Bluetooth","referenceType":"Equipment","vehicleType":["B","C","N","X"]},{"id":"123","name":"Head-up display","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"124","name":"Vivavoce","referenceType":"Equipment","vehicleType":["B","C","N","X"]},{"id":"125","name":"Isofix","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"126","name":"Sensore di luminosità","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"127","name":"Sensore di pioggia","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"128","name":"Sensori di parcheggio assistito anteriori","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"129","name":"Sensori di parcheggio assistito posteriori","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"13","name":"Alzacristalli elettrici","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"130","name":"Telecamera per parcheggio assistito","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"131","name":"Sistema di parcheggio automatico","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"132","name":"CD","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"133","name":"Adaptive Cruise Control","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"134","name":"Bracciolo","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"135","name":"Parabrezza riscaldato","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"136","name":"Volante riscaldato","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"137","name":"Hill Holder","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"138","name":"Autoradio digitale","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"139","name":"Portellone posteriore elettrico","referenceType":"Equipment","vehicleType":["C","X"]},{"id":"140","name":"Fari LED","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"141","name":"Luci diurne LED","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"142","name":"Volante in pelle","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"143","name":"Supporto lombare","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"144","name":"Sospensioni pneumatiche","referenceType":"Equipment","vehicleType":["C","L","N","X"]},{"id":"145","name":"Sedili massaggianti","referenceType":"Equipment","vehicleType":["C"]},{"id":"146","name":"Sistema di riconoscimento della stanchezza","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"147","name":"Sistema di visione notturna","referenceType":"Equipment","vehicleType":["C"]},{"id":"148","name":"Frenata d'emergenza assistita","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"149","name":"Sistema di chiamata d'emergenza","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"15","name":"Cerchi in lega","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"150","name":"Sistema di controllo pressione pneumatici","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"151","name":"Leve al volante","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"152","name":"Porta scorrevole","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"153","name":"Chiusura centralizzata senza chiave","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"154","name":"Sedili ventilati","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"155","name":"Sound system","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"156","name":"Controllo vocale","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"157","name":"Controllo elettronico della corsia","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"158","name":"Blind spot monitor","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"159","name":"Touch screen","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"16","name":"Regolazione elettrica sedili","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"160","name":"Funzione TV","referenceType":"Equipment","vehicleType":["C","N"]},{"id":"161","name":"USB","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"162","name":"Riconoscimento dei segnali stradali","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"17","name":"Chiusura centralizzata","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"170","name":"Conversione biodiesel","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"171","name":"Cucina di bordo","referenceType":"Equipment","vehicleType":["N"]},{"id":"172","name":"Blocco differenziale","referenceType":"Equipment","vehicleType":["N","X"]},{"id":"173","name":"Abilitata per E10","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"174","name":"Tendalino","referenceType":"Equipment","vehicleType":["C","N"]},{"id":"175","name":"Panchetta regolabile","referenceType":"Equipment","vehicleType":["N"]},{"id":"177","name":"Antenna satellitare","referenceType":"Equipment","vehicleType":["N"]},{"id":"178","name":"Argano a fune","referenceType":"Equipment","vehicleType":["N","X"]},{"id":"179","name":"Toiletta","referenceType":"Equipment","vehicleType":["N"]},{"id":"18","name":"Antifurto","referenceType":"Equipment","vehicleType":["B","C","N","X"]},{"id":"180","name":"Fari addizionali","referenceType":"Equipment","vehicleType":["N","X"]},{"id":"181","name":"Vasca","referenceType":"Equipment","vehicleType":["N"]},{"id":"182","name":"Doccia separata","referenceType":"Equipment","vehicleType":["N"]},{"id":"183","name":"Dinette circolare","referenceType":"Equipment","vehicleType":["N"]},{"id":"184","name":"Dinette laterale","referenceType":"Equipment","vehicleType":["N"]},{"id":"186","name":"Gavone posteriore","referenceType":"Equipment","vehicleType":["N"]},{"id":"187","name":"360° camera","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"188","name":"Aria condizionata da parcheggio","referenceType":"Equipment","vehicleType":["N"]},{"id":"189","name":"Assistente abbaglianti","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"19","name":"Fendinebbia","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"190","name":"Sistema lavafari","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"192","name":"Gru","referenceType":"Equipment","vehicleType":["L","X"]},{"id":"193","name":"Gruppo di refrigerazione","referenceType":"Equipment","vehicleType":["L"]},{"id":"194","name":"Sponda di carico","referenceType":"Equipment","vehicleType":["L","X"]},{"id":"195","name":"Ralla sterzante con perno","referenceType":"Equipment","vehicleType":["L"]},{"id":"196","name":"Ruotino anteriore telescopico","referenceType":"Equipment","vehicleType":["L"]},{"id":"197","name":"Binari trasporto carne","referenceType":"Equipment","vehicleType":["L"]},{"id":"198","name":"EBS","referenceType":"Equipment","vehicleType":["L"]},{"id":"199","name":"Silenzioso","referenceType":"Equipment","vehicleType":["X"]},{"id":"2","name":"Airbag conducente","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"20","name":"Gancio traino","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"200","name":"Veicoli municipali","referenceType":"Equipment","vehicleType":["X"]},{"id":"201","name":"Cabina doppia","referenceType":"Equipment","vehicleType":["X"]},{"id":"202","name":"Cuccetta","referenceType":"Equipment","vehicleType":["X"]},{"id":"203","name":"Divisorio","referenceType":"Equipment","vehicleType":["X"]},{"id":"204","name":"Freno a disco","referenceType":"Equipment","vehicleType":["L","X"]},{"id":"205","name":"Pannello solare","referenceType":"Equipment","vehicleType":["N"]},{"id":"206","name":"Letto","referenceType":"Equipment","vehicleType":["N"]},{"id":"207","name":"Letto basculante","referenceType":"Equipment","vehicleType":["N"]},{"id":"208","name":"Letti a castello","referenceType":"Equipment","vehicleType":["N"]},{"id":"21","name":"Sedile posteriore sdoppiato","referenceType":"Equipment","vehicleType":["C","X"]},{"id":"210","name":"Pneumatici estivi","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"211","name":"Pneumatici quattro stagioni","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"212","name":"Cerchioni in acciaio","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"213","name":"Fari al laser","referenceType":"Equipment","vehicleType":["C"]},{"id":"214","name":"Fari di profondità antiabbagliamento","referenceType":"Equipment","vehicleType":["C"]},{"id":"215","name":"Ruota di riserva","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"216","name":"Ruotino","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"217","name":"Kit antipanne","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"218","name":"Kit fumatori","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"219","name":"Luce d'ambiente","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"220","name":"Hotspot Wi-Fi","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"221","name":"Apple CarPlay","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"222","name":"Android Auto","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"223","name":"Carica per smartphone a induzione","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"224","name":"Schermo multifunzione interamente digitale","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"225","name":"Specchietto retrovisore con funzione antiabbagliamento","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"226","name":"Divisori per bagagliaio","referenceType":"Equipment","vehicleType":["C"]},{"id":"227","name":"Limitatore di velocità","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"228","name":"Streaming musicale integrato","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"229","name":"Sedile passeggero ribaltabile","referenceType":"Equipment","vehicleType":["C"]},{"id":"23","name":"Sistema di navigazione","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"230","name":"Fari bi-Xeno","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"231","name":"Pacchetto invernale","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"232","name":"Sistema di avviso di distanza","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"233","name":"Regolazione elettrica del sedile posteriore","referenceType":"Equipment","vehicleType":["C"]},{"id":"237","name":"Range extender","referenceType":"Equipment","vehicleType":["C"]},{"id":"238","name":"Spoiler","referenceType":"Equipment","vehicleType":["C"]},{"id":"239","name":"Fari full-LED","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"240","name":"Freno di stazionamento elettrico","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"241","name":"Climatizzatore automatico, 2 zone","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"242","name":"Climatizzatore automatico, 3 zone","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"243","name":"Climatizzatore automatico, 4 zone","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"244","name":"Porta scorrevole a sinistra","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"245","name":"Porta scorrevole a destra","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"246","name":"Freno ad inerzia","referenceType":"Equipment","vehicleType":["L"]},{"id":"25","name":"Pneumatici da neve","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"26","name":"Immobilizzatore elettronico","referenceType":"Equipment","vehicleType":["B","C","N","X"]},{"id":"27","name":"Portapacchi","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"28","name":"Veicolo elaborato","referenceType":"Equipment","vehicleType":["C"]},{"id":"29","name":"Marmitta catalitica","referenceType":"Equipment","vehicleType":["B","C","N","X"]},{"id":"3","name":"Airbag passeggero","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"30","name":"Climatizzatore automatico","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"31","name":"Controllo automatico trazione","referenceType":"Equipment","vehicleType":["B","C","N","X"]},{"id":"32","name":"Airbag laterali","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"34","name":"Sedili riscaldati","referenceType":"Equipment","vehicleType":["B","C","N","X"]},{"id":"36","name":"Adatto a portatori di handicap","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"38","name":"Cruise Control","referenceType":"Equipment","vehicleType":["B","C","N","X"]},{"id":"39","name":"Fari Xenon","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"4","name":"Tettuccio apribile","referenceType":"Equipment","vehicleType":["C"]},{"id":"41","name":"Computer di bordo","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"42","name":"ESP","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"43","name":"MP3","referenceType":"Equipment","vehicleType":["B","C","N","X"]},{"id":"44","name":"Deflettori","referenceType":"Equipment","vehicleType":["C"]},{"id":"45","name":"Airbag posteriore","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"46","name":"Airbag testa","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"47","name":"Chiusura centralizzata telecomandata","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"48","name":"Guida a destra","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"5","name":"Climatizzatore","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"50","name":"Tetto panoramico","referenceType":"Equipment","vehicleType":["C","N"]},{"id":"52","name":"Riscaldamento ausiliario","referenceType":"Equipment","vehicleType":["C","N","X"]},{"id":"54","name":"Vetri oscurati","referenceType":"Equipment","vehicleType":["C","X"]}]};
				var carsDetail = [];
				$.ajax({
					type: "GET",
					"headers": {
						"Authorization": "Basic aW5mb0BhbGVzc2FuZHJvcGlvbGEuaXQ6YXB2cnQxMG1p"
					},
					url: "https://listing-creation.api.autoscout24.com/customers/25701872/listings/"+idVeicolo,
					success: function (auto) {
						var fuel = "",
							name_model = auto["description"].split("\\\\");

						$.each(array_fuel["references"], function (i, fuel_type) {
							if (fuel_type["id"] == auto["fuelCategory"]) {
								fuel = fuel_type["name"]
							}
						})
						$.each(auto["images"], function (index, image) {
							$("#carSlider .swiper-wrapper").append("<div class='swiper-slide'><img class='lozad-swiper' data-src='"+image["previewUrl"]+"'/></div>")
							$("#carSliderBullets .swiper-wrapper").append("<div class='swiper-slide'><img class='lozad-swiper' data-src='"+image["previewUrl"]+"'/></div>")
						})
						//SET PAGE TITLE
						var documentTitle = "Dacar | " + name_model[0].replace('**', '').replace('**', '')
						$(document).attr("title", documentTitle)
						//SET NOME VEICOLO
						var nomeVeicolo = name_model[0].replace('**', '').replace('**', '')
						$("#nomeVeicolo").html(nomeVeicolo)
						carName = nomeVeicolo
						//SET PREZZO VEICOLO
						var prezzoVeicolo = auto["prices"]["public"]["price"]
						$("#prezzo").html(prezzoVeicolo + "€")
						//SET KM
						var kmPercorsi = auto["mileage"]
						$("#kmPercorsi").html(kmPercorsi + "KM")
						//SET POWER
						var power = Math.round(auto["power"] * 1.35962)
						$("#power").html(power + "CV")
						//SET FUEL TYPE
						$("#fuelType").html(fuel)
						//SET ANNO IMMATRICOLAZIONE
						$("#dataImmatricolazione").html(auto["firstRegistrationDate"])
						//SET DESCRIPTION
						var desc = auto["description"]
						var descIndent = desc.replace(/\\/g,"<br>")
						var descFinal = descIndent.replace(/<br><br>/g,"<br>")
						$("#descrizione").html(descFinal)
						//SET EQUIPMENT
						$.each(auto["equipment"], function (i,car_equipment) {
							//- console.log(car_equipment)
							$.each(array_equipment["references"], function (i,arr_equipment) {
								if (car_equipment == arr_equipment["id"]) {
									$("#equipaggiamento").append('<div class="equipCont"><div><i class="fas fa-check blue"/></div><div><p>'+arr_equipment["name"]+'</p></div></div>')
								}
								
							})
						})
						
					},
					complete: function () {
						carSlider = new Swiper("#carSlider",{
							preloadImages: true,
							lazy: false,
							loop: true,
							touchReleaseOnEdges: true,
							passiveListeners: true,
							autoHeight: true,
							navigation: {
								nextEl: '#carSlider .swiper-button-next',
								prevEl: '#carSlider .swiper-button-prev'
							}
						})

						carSliderBullets = new Swiper("#carSliderBullets",{
							slidesPerView: 5,
							spaceBetween: 5,
							centeredSlides: true,
							preloadImages: true,
							lazy: false,
							loop: true,
							touchReleaseOnEdges: true,
							passiveListeners: true,
							autoHeight: true,
							navigation: {
								nextEl: '#carSliderBullets .swiper-button-next',
								prevEl: '#carSliderBullets .swiper-button-prev'
							}
						})

						carSlider.on('slideChangeTransitionEnd', function () {
							var activeSlide = $("#carSlider .swiper-slide-active").data("swiper-slide-index")
							carSliderBullets.slideToLoop(activeSlide,300,false)
						})

						carSliderBullets.on('slideChangeTransitionEnd', function () {
							var activeSlide = $("#carSliderBullets .swiper-slide-active").data("swiper-slide-index")
							carSlider.slideToLoop(activeSlide,300,false)
						})

						$("#carSliderBullets .swiper-slide").on("click", function(){
							var activeSlide = $(this).data("swiper-slide-index")
							carSlider.slideToLoop(activeSlide,300,false)
							$("#carSliderBullets .swiper-slide").removeClass("swiper-slide-active")
							$(this).removeClass("swiper-slide-active")
							carSliderBullets.slideToLoop(activeSlide)
						})
						
						observer_swiper_veicolo.observe();
						carSlider.update()
						carSliderBullets.update()
					}
				});


				$("#send").click(function(){
					var nome = $("#sendemail-nome").val();
					var email = $("#sendemail-email").val();
					var testo = $("#sendemail-testo").val();
					var action = "fromVeicolo";
					$.ajax({
						type: "POST",
						url: "/sendto.php",
						data: {nome:nome,email:email,testo:testo,action:action,carName,carImage},
						success: function( data ) {
							if(data=='true')    {
								$(".form-group").hide()
								$("#send").hide()
								$(".message p").text("LA TUA EMAIL È STATA INVIATA CORRETTAMENTE.")
							}
							else if (data == 'campi')
								$(".message p").text("NON HAI COMPILATO TUTTI I CAMPI.")
							else {
								$(".message p").text("LA TUA EMAIL NON È STATA INVIATA. RIPROVA PIÙ TARDI.")
							}
						}
					});
				});
			});
		
