doctype html
html
	head
		include _partials/head.pug

	body#veicoli
		include _partials/navbar.pug

		.container-fluid.sectionbg
			img(src="assets/images/section_bg.jpg", alt="")
			.title
				h1.bold VEICOLI
				//- include _partials/dacarSpacer
		.container#homepageCars
			.loading-dacar
				img(src="assets/images/loading-dacar.gif", alt="")
				p.uppercase.blue.bold CARICAMENTO
		
		
		include _partials/footer.pug
		include _partials/include.pug
		script.
			$(document).ready(function(){
				getCarDetail(false)
			});
		
