@import "variables"

//- DACAR SPACER
.dacarSpacer
	display: flex
	align-items: center
	justify-content: center
	margin-bottom: 20px
	.line
		width: 100px
		height: 2px
		background: #ccc
	.steeringWheel
        width: 30px
        height: 30px
        margin: 0 15px
        svg
            width: 100%
            height: 100%
            fill: $blue