@import "variables"
//-NAVBAR <---------------------
#footer
	border-top: 1px solid #eee
	margin-top: 5%
	a
		color: #000 !important
	h5,p
		text-align: left
	i
		margin-right: 10px
	p.indirizzo, p.telefono, p.orario
		display: flex
		justify-content: flex-start
	h2
		margin-top: 0
		display: inline-block
		&:hover
			color: $blue