@import "variables"
// GALLERY <--------------

#instagramFeed
	display: flex
	justify-content: flex-start
	align-items: flex-start
	flex-wrap: wrap
	padding-top: 2%
	.image
		padding: 5px
		width: 33%
		@media screen and (max-width: 1024px)
			width: 50%
		@media screen and (max-width: 550px)
			width: 100%
		img
			height: 250px
			object-fit: cover
			@media screen and (max-width: 550px)
				width: 100%
				height: auto
		// @media screen and (max-width: 1024px)
		// 	width: 32%
		// 	height: 190px
		// @media screen and (max-width: 767px)
		// 	width: 48%
		// 	height: 200px
		// @media screen and (max-width: 550px)
		// 	width: 100%
		// 	height: auto

	.loading-dacar
		img
			width: auto
			height: auto

#overlayImages
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 999
	background: rgba(0,0,0,0.8)
	padding: 10px
	display: flex
	justify-content: center
	align-items: center
	display: none
	.close
		position: absolute
		top: 10px
		right: 10px
		cursor: pointer
		z-index: 999
	.swiper-container
		.swiper-button-next, .swiper-button-prev
			filter: grayscale(100%) brightness(100)
			outline: none
			@media screen and (max-width:550px)
				transform: translateY(550%)
		.swiper-slide
			display: flex
			justify-content: center
			align-items: center
			height: 100vh !important
			img
				max-width: unset !important
				width: 50% !important
				height: auto !important
				@media screen and (max-width:550px)
					width: 95% !important

