//- HERO BANNER
#heroSlider, .lastCar
	min-width: 100%
	max-width: 100%
	.swiper-wrapper
		min-height: 100% !important
	.swiper-slide
		img
			min-width: 100%
	.swiper-button-next, .swiper-button-prev
		filter: grayscale(100%) brightness(100)
		outline: none

//LAST 3 AUTO
#last3Auto
	#homepageCars
		display: flex
		justify-content: center
		align-items: center
		.carContainer
			width: 33.3%
			max-width: 33.3%
			padding: 0 15px
			@media screen and (max-width:767px)
				width: 100%
				max-width: 100%			
			.infoAuto
				.cont
					display: flex
					align-items: center
					justify-content: space-between
					.info
						width: 50%
						height: 50px
						display: flex
						justify-content: flex-start
						align-items: center
						border: 1px solid #eee
						margin-bottom: 5px
						div
							&:first-child
								width: 30%
								height: 100%
								background: #eee
								display: flex
								justify-content: center
								align-items: center
								background: #eee
								border-right: 1px solid #eee
								i
									font-size: 18px
							&:nth-child(2)
								width: 70%
								p
									text-align: center
				h3
					margin: 20px 0
				@media screen and (max-width:767px)
					margin-bottom: 10%
	.button.button--white
		margin: 20px auto 0
// ABOUT US
// #aboutUs
// 	.col-sm-12
// 		@media screen and (max-width:767px)
// 			p
// 				&:nth-child(2)
// 					margin-bottom: 0 !important
// 				&:nth-child(3)
// 					margin-top: 0 !important
// SERVIZI
#servizi
	.flexCol
		display: flex
		flex-direction: column
		justify-content: flex-start
		align-items: center
		div.cont
			background: #eee
			width: 200px
			height: 200px
			display: flex
			justify-content: center
			align-items: center
			transform: rotate(45deg)
			margin: 20% auto 15%
			@media screen and (max-width: 800px)
				width: 150px
				height: 150px
			i
				font-size: 120px
				transform: rotate(315deg)
				@media screen and (max-width: 800px)
					font-size: 80px
// GALLERY
#gallery
	.images
		display: flex
		justify-content: flex-start
		align-items: flex-start
		flex-wrap: wrap
		.image
			width: 24%
			height: 250px
			padding: 5px
			@media screen and (max-width: 1024px)
				width: 49%
			@media screen and (max-width: 550px)
				width: 100%
			img
				height: 100%
				width: auto
				object-fit: cover
				// @media screen and (max-width: 1200px)
				// 	height: 215px
				// @media screen and (max-width: 1000px)
				// 	height: 150px
				// @media screen and (max-width: 767px)
				// 	height: 230px
				// @media screen and (max-width: 767px)
				// 	height: auto
