@import "variables"
//-NAVBAR <---------------------
#navbar
	height: 100px
	border-bottom: 1px solid #ccc
	z-index: 99
	position: relative
	.container
		display: flex
		align-items: center
		justify-content: space-between
		height: 100%
		.logo
			height: 100%
			display: flex
			align-items: center
			width: 20%
			img
				display: block
				width: 85%
				height: auto
		.link
			height: 100%
			display: flex
			align-items: center
			justify-content: flex-end
			width: 80%
			background: #fff
			a
				color: $blue
				font-weight: bold
				height: 100%
				width: 18%
				div
					height: 100%
					width: 100%
					display: flex
					align-items: center
					&:hover
						color: #fff
						background: $blue
						transition: all 0.2s linear
					p
						margin: 0 auto
	&.sticky
		position: fixed
		width: 100%
		left: 0
		top: 0
		z-index: 100
		border-top: 0
		background: #fff
@media screen and (max-width: 768px)
	#navbar
		.container
			display: block
			.logo
				justify-content: unset
				width: 100%
				a

					width: 100%
					height: 100%
					display: flex
					align-items: center
					img
						height: 70%
						width: auto
			.link
				width: 100%
				height: auto
				flex-direction: column
				display: block
				height: 0
				overflow-y: hidden
				position: relative
				a
					width: 100%
					div
						padding: 5% 0
				&.open
					border-top: 2px solid $blue
					height: auto
					transition-property: all
					transition-duration: .6s
					transition-timing-function: cubic-bezier(0, 1, 0.5, 1)
					a
						div
							border-bottom: 1px solid #eee
			.menu
				display: inline-block
				cursor: pointer
				.bar1, .bar2, .bar3
					width: 35px
					height: 5px
					background-color: $blue
					margin: 6px 0
					transition: 0.4s
				&.open
					.bar1
						-webkit-transform: rotate(-45deg) translate(-9px, 6px)
						transform: rotate(-45deg) translate(-9px, 6px)
					.bar2
						opacity: 0
					.bar3
						-webkit-transform: rotate(45deg) translate(-8px, -8px)
						transform: rotate(45deg) translate(-8px, -8px)