//VEICOLI
body#veicoli
	#homepageCars
		display: flex
		justify-content: flex-start
		align-items: center
		flex-wrap: wrap
		.carContainer
			width: 33.3%
			max-width: 33.3%
			padding: 0 15px
			margin-bottom: 2%
			@media screen and (max-width:767px)
				width: 100%
				max-width: 100%	
			.swiper-wrapper
				min-height: 100% !important		
			.infoAuto
				.cont
					display: flex
					align-items: center
					justify-content: space-between
					.info
						width: 50%
						height: 50px
						display: flex
						justify-content: flex-start
						align-items: center
						border: 1px solid #eee
						margin-bottom: 5px
						div
							&:first-child
								width: 30%
								height: 100%
								background: #eee
								display: flex
								justify-content: center
								align-items: center
								background: #eee
								border-right: 1px solid #eee
								i
									font-size: 18px
							&:nth-child(2)
								width: 70%
								p
									text-align: center
				h3
					margin: 20px 0
				@media screen and (max-width:767px)
					margin-bottom: 10%