@import "variables"
.row
	&.infoCar
		display: flex
		align-items: stretch
		margin-top: 3%
		#carSlider, #carSliderBullets
			min-width: 100%
			max-width: 100%
			.swiper-wrapper
				height: 100% !important
			.swiper-slide
				img
					min-width: 100%
			.swiper-button-next, .swiper-button-prev
				filter: grayscale(100%) brightness(100)
				outline: none
		#carSliderBullets
			.swiper-slide
				cursor: pointer
			.swiper-button-next, .swiper-button-prev
				background-image: unset
				height: 100%
				div
					background: rgba(0,0,0,0.5)
					height: 50%
					display: flex
					justify-content: center
					&:hover
						background: rgba(0,0,0,1)
					img
						width: 10px
						height: auto

			.swiper-button-next
				right: 0
			.swiper-button-prev
				left: 0
		.col-md-12:nth-child(2)
			display: flex
			flex-direction: column
			align-items: flex-start
			justify-content: space-between
			@media screen and (max-width:991px)
				padding-top: 3%
			h2, h5
				text-align: left
				margin: 0
				@media screen and (max-width:991px)
					margin-bottom: 3%
			.dataCont
				min-width: 100%
				.infoCar
					display: flex
					justify-content: center
					align-items: stretch
					min-width: 100%
					margin-bottom: 5px
					div
						flex-basis: 50%
						text-align: center
						border: 1px solid #eee
						&:first-child
							background: #eee
							display: flex
							justify-content: center
							align-items: center
.carTitle
	background: $blue
	padding: 15px
	margin-top: 3%
	p
		text-align: left
		margin: 0
.carContent
	border: 1px solid #eeeeee
	padding: 15px
	#equipaggiamento
		display: flex
		align-items: center
		justify-content: flex-start
		flex-wrap: wrap
		.equipCont
			flex-basis: 33.3%
			display: flex
			justify-content: flex-start
			align-items: baseline
			margin-bottom: 25px
			@media screen and (max-width:1024px)
				flex-basis: 50%
			@media screen and (max-width:600px)
				flex-basis: 100%
			div
				display: flex
				align-items: center
				p
					margin: 0
					text-align: left
				&:first-child
					justify-content: flex-end
					padding-right: 10px
	#descrizione
		text-align: left
